[submodule "plugins/base_plugin"]
	path = plugins/base_plugin
	url = https://github.com/jaca230/pioneerML_base_plugin
[submodule "plugins/PURITY"]
	path = plugins/PURITY
	url = https://github.com/jaca230/pioneerML_PURITY_plugin
